.Course {
    margin: 0;
    padding: 0;
}

.Course div {
    margin: 20px;
}

.Course ul {
    list-style-type: none;
    width: 80%;
}

.Course h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.Course li img {
    float: left;
    margin: 0 10px 0 0;
}

.Course li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.Course li {
    padding: 10px;
    overflow: auto;
}

.Course li:hover {
    background: #eee;
    cursor: pointer;
}

.Course th, td {
    padding: 15px;
    text-align: left;
}