.Header {
    margin: 0;
    padding: 0;
}

.Header nav {
    margin: 30px;
}

.Header ul {
    overflow: auto;
    list-style-type: none;
}

.Header li {
    height: 20px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 10px;
}

.Header li:last-child {
    border-right: none;
}

.Header li a {
    text-decoration: none;
    color: #ccc;
    font: 18px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.Header li a:hover {
    color: #666;
}

.Header .my-active {
    font-weight: bold;
    color: #ff5e00;
}