.Assignment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.Assignment h2 {
}

.Assignment ol {
    font-style: italic;
    font-family: Georgia, Times, serif;
    font-size: 24px;
    color: #bfe1f1;
}

.Assignment ol li {
}

.Assignment ol li p {
    padding: 8px;
    text-align: left;
    font-style: normal;
    font-family: Arial;
    font-size: 13px;
    color: #000;
    border-left: 1px solid #999;
}

.Assignment ol li p em {
    display: block;
}