.CourseList {
    margin: 0;
    padding: 0;
}

.CourseList div {
    margin: 20px;
}

.CourseList ul {
    list-style-type: none;
    width: 80%;
}

.CourseList h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.CourseList li img {
    float: left;
    margin: 0 10px 0 0;
}

.CourseList li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.CourseList li {
    padding: 10px;
    overflow: auto;
}

.CourseList li:hover {
    background: #eee;
    cursor: pointer;
}